*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background-color: red;
}

.border-black{
    border: 1px solid black;;
}

.block{
    display: block;
}

.none{
    display: none;
}